@{
    ViewData["Title"] = "Không có quyền truy cập";
}
<link href="~/css/dardmode.css" rel="stylesheet" />
<link href="~/css/lightmode.css" rel="stylesheet" />
<h2 class="text-danger">Bạn không có quyền truy cập trang này!</h2>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Quay về trang chủ</a>
<script src="~/js/movie.js"></script>